th.jsgrid-control-field, td.jsgrid-control-field {
    width: 60px !important;
}

.jsgrid .jsgrid-button {
	min-width: 16px !important;
    margin: 0px;
}

.jsgrid-header-row>.jsgrid-header-cell {
    background: #eff1f4 !important;
}
.ui-button .ui-icon {
	background-image: url("../../libs/jquery/images/ui-icons_777777_256x240.png")  !important;
	min-width: 16px !important;
}

.ui-dialog-titlebar-close {
	min-width: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: rgb(233, 233, 233) !important;
	color: #333333 !important;
	font-weight: bold;
}

.nav-tabs>li>a {
	color: #333333;
}

#jsGrid-unit-test .jsgrid-row td:nth-child(3),
#jsGrid-unit-test .jsgrid-row td:nth-child(5),
#jsGrid-unit-test .jsgrid-row td:nth-child(7),
#jsGrid-unit-test .jsgrid-row td:nth-child(9),
#jsGrid-unit-test .jsgrid-alt-row td:nth-child(3),
#jsGrid-unit-test .jsgrid-alt-row td:nth-child(5),
#jsGrid-unit-test .jsgrid-alt-row td:nth-child(7),
#jsGrid-unit-test .jsgrid-alt-row td:nth-child(9)
{
	background-color: #f9f9ea;
}

#jsGrid-unit-test .jsgrid-cell span.label {
	font-size: 12px;
}

.jsgrid-alt-row>.jsgrid-cell {
    background-color: #f3f3f3 !important;
}

.jsgrid-cell {
    border: 1px solid #dcd5d5 !important;
}